.grid {
    /* background-color: rgb(255, 255, 255); */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.dropdowns {
    /* border: 2px solid red; */
    /* text-align: left; */
    padding: 0.2rem;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

.bottom-right{
    /* border: 2px solid red; */
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
}

.footer{
    /* border: 2px solid red; */
    color: rgb(29, 29, 29);
    text-decoration: none;
    text-align: center;
    margin: 0.25rem;
    padding: 0.25rem;
}