.card{
    /* margin: 2.5vw; */
    margin-top: 2rem;
    max-width: 60rem;
    padding: 5%;
    /* max-height: 75vh; */
    /* box-shadow: 0 0 5px black; */
}

.card-body{
    flex: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.google-heading{
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#G, #g, .pre-footer{color: rgb(0, 115, 255);}
#o1, #e{color: red;}
#o2{color: rgb(255, 213, 0);}
#l{color: green;}

.sect2{
    position: relative;
}

.label{
    position: absolute;
    top: -0.5rem;
    left: 5%;
    font-size: small;
    z-index: 1;
    background-color: white;
    color: rgb(0, 115, 255);
    padding-left: 3px;
    padding-right: 3px;
}

input[type=email], input[type=password], input[type=text]{
    padding: 1rem;
    border: 2px solid rgb(0, 115, 255);
    border-radius: 4px;
    height: 3.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.forgot{
    text-align: left;
    color: rgb(0, 115, 255);
    font-size: medium;
    font-weight: 500;
}

.grid{
    display: grid;
    grid-template-columns:55% 15% 15% 15%;
    font-size: 1em;
    vertical-align: baseline;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    /* border: 2px solid red; */
}

.card-footers{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    /* background: transparent;
    border: none; */
    margin-top: 2rem;
    /* border: 2px solid red; */
}

.sub-card-footer{
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(0, 119, 255);
    /* border: 2px solid red; */
}

.sub-card-footer-2{
    font-size: 1.1rem;
    color: white;
    background-color: rgb(0, 119, 255);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    /* border: 2px solid red; */
}


.extra{
    display: flex;
    justify-content: center;
    align-items: center;
}