.root{
  display: flex;
  justify-content: center;
  /* align-content: center; */
  /* border: 2px solid red; */
  height: 100vh;
}

.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* padding: 1rem; */
  max-width: 40rem;
  /* height: 100vh; */

  /* border: 2px solid red; */
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

.parent-footer{
  display: block;
}